/* Reset CSS (JANGAN DIHAPUS) */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.top-wrapper{
  background-image: url(pixel-art.png);
  background: cover;
  padding: 180px 0 100px 0;
  text-align: center;
  color: white;
}

.top-wrapper h1{
   margin-bottom: 10px;
   letter-spacing: 5px;
   opacity: 0.7;
   font-size: 45px;
   letter-spacing: 5px;
} 

.top-wrapper p{
  opacity: 0.7;
  margin-bottom: 3px;
}

.container{
  width: 1170px;
  margin: 0 auto;
  
  
}

.btn-wrapper{
  margin: 20px 0;
  
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #239b76;
  opacity: 0.8;
 
}



.btn{
  background-color: #8AD4B9;
  padding: 12px 24px;
  color: white;
  border-radius: 4px;
  display: inline-block;
}


.btn:hover{
  opacity: 0.1;
}

header{
  background-color: #F4B062;
  width: 100%;
  position: fixed;
  height: 65px;
  top:0;
  
  
}

.logo{
  width: 124px;
  padding: 20px 0;
  margin-left: 50px;
  position: fixed;
}

.header-left{
  float: left;
  
}






.heading{
  padding: 60px 0 30px 0;
  color: #5f5d60;
}

.heading h2{
  font-weight: normal;
}

.lesson-wrapper{
  height: 580px;
  background-color: #f7f7f7;
}

.txt-content {
  color: #b3aeb5;
  font-size: 15px;
  width: 80%;
  display: inline-block;
  margin-top: 20px;
}

.lesson {
  float: left;
  width: 25%;

  
  
  
}

.lesson-icon{
  position: relative;
    z-index:0;
    
  
}

.lesson-icon p{
  color: white;
  top: 90px;
  position: absolute;
  width: 100%;
}

.container{
  text-align:center;
  margin: 0 auto;
}


.heading h3{
  font-weight: normal;
}

.message{
  padding: 15px 40px;
  background-color: #5dca88;
  box-shadow: 0 7px #1a7940;
  cursor: pointer;
 
  opacity: 0.8;
}

.message-wrapper{
   margin-bottom: 80px;
}

.message:active{
  position: relative;
  top: 7px;
  box-shadow: none;
}

.footer-logo{
  float:left;
  margin-top: 30px;
}

.footer{
  border: 1px #eee;
  font-size: 12px;
}

  



